body{
    background-color: #7A0505;
}

.topMenu {
    background-color: #1c2120;
    height: 150px;
}

.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 150px;
    width: auto;
    margin-left: 50px;

}

.title {
    display: flex;
    margin-top: 10px;

}

h4 {
    font-size: 100px;
    color: whitesmoke;
    font-family: Pacifico;
}

a{
    color: whitesmoke;
    padding: 15px;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

.content {
    background-color: #7A0505;
    width: 100% ;
}

.center {
    background-color: #1c2120;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    height: auto;
    
    width: auto;
    padding: 20px;
    color: white;
}